<% require 'json' %>
<style>
  table.students, td{
    border: 1px solid black;
  }
  td{
    padding: 15px;
  }
</style>
<% passes = Array.new %>
<% @department.each do |department| %>
    <% department.specialties.each do |specialty| %>
        <% specialty.groups.each do |group| %>
           <% group.students.each do |student| %>
              <% hours = 0 %>
              <% student.passes.each do |pass| %>
                <% hours = hours + pass.hours %>
              <% end %>
              <% passes[student.id] = hours %>
           <% end %>
        <% end %>
    <% end %>
<% end %>
<% passes = passes.map {|e| e ? e : 0} %>
<h1>Добро пожаловать, <%= current_user.name %>!</h1>
<center>
  <% if current_user.admin == 1 %>
    <a href="<%= departments_index_path %>" class="action-button shadow animate blue">Редактировать списки</a>
  <% end %>
  <% if current_user.superadmin == 1 %>
    <a href="<%= users_path %>" class="action-button shadow animate blue">Редактировать пользователей</a>
  <% end %>
  <h2 id="nomarging">Списки студентов</h2>
  <p>Выберите группу</p>
      <select id="group">
          <% @department.each do |department| %>
            <% department.specialties.each do |specialty| %>
              <% specialty.groups.each do |group| %>
                <option value="<%= group.id %>"><%= group.number %></option>
              <% end %>
            <% end %>
          <% end %>
      </select>
  <div id="result">

  </div>
</center>
<%= link_to 'Выйти', sign_out_path, method: :delete %>
<script>
  var passes = <%= passes %>;
  $(document).ready(function(){
      var output="<table class='students'><tr><td>ФИО</td><td>Адрес</td><td>Пропуск часов</td>";
      $.ajax({
          type: 'GET',
          url: "/api_request/<%= Group.first.id %>",
          dataType: 'json',
          success: function (data) {
              for(i in data){
                  output+="<tr><td>" + data[i].name + " " + data[i].surname + " " + data[i].fathername + "</td>";
                  output+="<td>" + data[i].adress + "</td><td>" + passes[data[i].id] + "<form method='post' action='/add_pass/"+ data[i].id +"/'><input type='hidden' id='student' value='"+data[i].id+"'><input type='number' id='hours' name='hours'>Часов<input type='checkbox' id='cause' value='1'>Уважительная причина<input type='button' id='pass_button' value='Добавить'></form></td></tr>";
              }
              output += "</table>";
              $("#result").html(output);
          }
      })
  });
  $("#group").change(function () {
      var output="<table class='students'><tr><td>ФИО</td><td>Адрес</td><td>Пропуск часов</td>";
      $.ajax({
          type: 'GET',
          url: "/api_request/"+$("#group").val(),
          dataType: 'json',
          success: function (data) {
            for(i in data){
                output+="<tr><td>" + data[i].name + " " + data[i].surname + " " + data[i].fathername + "</td>";
                output+="<td>" + data[i].adress + "</td><td>" + passes[data[i].id] + "<form method='post' action='/add_pass/"+ data[i].id +"/'><input type='hidden' id='student' value='"+data[i].id+"'><input type='number' id='hours' name='hours'>Часов<input type='checkbox' id='cause' value='1'>Уважительная причина<input type='button' id='pass_button' value='Добавить'></form></td></tr>";
            }
            output += "</table>";
            $("#result").html(output);
          }
      })
  })
  $("body").on("click", "#pass_button", function () {
      $.ajax({
          type: 'GET',
          url: "/add_pass/"+$("#student").val()+"/"+$("#hours").val()+"/"+$("#cause").val(),
          dataType: 'json',
          success: function (data) {
              alert("Пропуск зарегистрирован!");
          }
      })
  })
</script>