<script>
    function output_for_table (data, i, k) {
        var passes_affirmative = data.passes_affirmative;
        var passes_negative = data.passes_negative;
        var output = "";
        if(k == 1){
            output += "<tr><td>" + i + "</td><td><a href='/student/" + data.students[5] + "'>" + data.students[1] + " " + data.students[0] + " " + data.students[2] + "</a></td>";
            output += "<td>" + data.students[4] +"</td><td>" + data.students[3] + "</td><td>" + passes_affirmative[data.students[5]] + " часов</td><td>" + passes_negative[data.students[5]] + " часов</td><td style='border-bottom:0px; border-right:0px'><form method='post' name='form"+i+"' action='javascript:passButtonClick(this.form"+i+")'><table><tr><td><input type='hidden' name='student' value='"+data.students[5]+"'><input type='number' name='hours' class='profile-input' style='height:10px; width:30px' name='hours'></td><td style='border-bottom:0px; border-left:0px'>Часов</td></tr><tr><td style='border-top:0px; border-bottom:0px; border-right:0px'><input type='hidden' name='cause' id='cause"+i+"' value='0'><input type='checkbox' id='cause-check"+i+"' name='cause_check[]' onchange='javascript:causeCheck("+i+")'></td><td style='border-top:0px; border-left:0px; border-bottom:0px'>Уважительная причина</td></tr><tr><td style='border-top:0px;' colspan ='2'><input type='submit' class='profile-input' style='height:50px; width:250px' id='pass_button' value='Добавить'></form></td></tr></table>";
        }
        else{
            output += "<tr><td>" + i + "</td><td><a href='/student/" + data.students[5] + "'>" + data.students[1] + " " + data.students[0] + " " + data.students[2] + "</a></td>";
            output += "<td>" + data.students[3] + "</td><td>" + passes_affirmative[data.students[5]] + " часов</td><td>" + passes_negative[data.students[5]] + " часов</td><td style='border-bottom:0px; border-right:0px'><form method='post' name='form"+i+"' action='javascript:passButtonClick(this.form"+i+")'><table><tr><td><input type='hidden' name='student' value='"+data.students[5]+"'><input type='number' name='hours' class='profile-input' style='height:10px; width:30px' name='hours'></td><td style='border-bottom:0px; border-left:0px'>Часов</td></tr><tr><td style='border-top:0px; border-bottom:0px; border-right:0px'><input type='hidden' name='cause' id='cause"+i+"' value='0'><input type='checkbox' id='cause-check"+i+"' name='cause_check[]' onchange='javascript:causeCheck("+i+")'></td><td style='border-top:0px; border-left:0px; border-bottom:0px'>Уважительная причина</td></tr><tr><td style='border-top:0px;' colspan ='2'><input type='submit' class='profile-input' style='height:50px; width:250px' id='pass_button' value='Добавить'></form></td></tr></table>";
        }
        return output;
    }
</script>
<% require 'json' %>
<style>
  th{
    background-color: #2980B9;
    color: white;
  }
  td{
    padding: 15px;
    text-align: center;
  }
  .profile-input{
    border: 2px solid lightblue;
  }
  .search-box,.close-icon,.search-wrapper {
    position: relative;
    padding: 10px;
  }
  .search-wrapper {
    width: 500px;
    margin: auto;
    margin-top: 0px;
  }
  .search-box {
    width: 80%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 15px;
  }
  .search-box:focus {
    box-shadow: 0 0 15px 5px #b0e0ee;
    border: 2px solid #bebede;
  }
  .close-icon {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
  }
  .close-icon:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #FA9595;
    z-index:1;
    left: 185px;
    top: 0;
    bottom: 65px;
    margin: auto;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px #E50F0F;
    cursor: pointer;
  }
  .search-box:not(:valid) ~ .close-icon {
    display: none;
  }
</style>
<h1>Добро пожаловать, <%= current_user.name %>!</h1>
<center>
  <% if current_user.admin == 1 %>
    <a href="<%= departments_index_path %>" class="action-button shadow animate blue">Редактировать списки</a>
  <% end %>
  <% if current_user.superadmin == 1 %>
    <a href="<%= users_path %>" class="action-button shadow animate blue">Редактировать пользователей</a>
  <% end %>
  <h2 id="nomarging">Списки студентов</h2>
  <p>Выберите группу</p>
      <select id="group">
          <% @department.each do |department| %>
            <% department.specialties.each do |specialty| %>
              <% specialty.groups.each do |group| %>
                <option value="<%= group.id %>"><%= group.number %></option>
              <% end %>
            <% end %>
          <% end %>
      </select>
  <h2 style="margin: 5px;">ИЛИ</h2>
  <p style="margin: 0px;">Воспользуйтесь поиском</p>
  <div class="search-wrapper">
    <form>
      <input type="text" name="focus" id="search" required class="search-box" placeholder="Введите фамилию учащегося" />
      <button class="close-icon" type="reset"></button>
    </form>
  </div>
  <div id="result">

  </div>
</center>
<script>

</script>