<script>
    function output_for_table (data, i, k) {
        var passes_affirmative = data.passes_affirmative;
        var passes_negative = data.passes_negative;
        var output = "";
        if(k == 1){
            output += "<tr><td>" + i + "</td><td><a href='/student/" + data.students[5] + "'>" + data.students[1] + " " + data.students[0] + " " + data.students[2] + "</a></td>";
            output += "<td>" + data.students[4] +"</td><td>" + data.students[3] + "</td><td>" + passes_affirmative[data.students[5]] + " часов</td><td>" + passes_negative[data.students[5]] + " часов</td><td style='border-bottom:0px; border-right:0px'><form method='post' name='form"+i+"' action='javascript:passButtonClick(this.form"+i+")'><table><tr><td><input type='hidden' name='student' value='"+data.students[5]+"'><input type='number' name='hours' class='profile-input' style='height:10px; width:30px' name='hours'></td><td style='border-bottom:0px; border-left:0px'>Часов</td></tr><tr><td style='border-top:0px; border-bottom:0px; border-right:0px'><input type='hidden' name='cause' id='cause"+i+"' value='0'><input type='checkbox' id='cause-check"+i+"' name='cause_check[]' onchange='javascript:causeCheck("+i+")'></td><td style='border-top:0px; border-left:0px; border-bottom:0px'>Уважительная причина</td></tr><tr><td style='border-top:0px;' colspan ='2'><input type='submit' class='profile-input' style='height:50px; width:250px' id='pass_button' value='Добавить'></form></td></tr></table>";
        }
        else{
            output += "<tr><td>" + i + "</td><td><a href='/student/" + data.students[5] + "'>" + data.students[1] + " " + data.students[0] + " " + data.students[2] + "</a></td>";
            output += "<td>" + data.students[3] + "</td><td>" + passes_affirmative[data.students[5]] + " часов</td><td>" + passes_negative[data.students[5]] + " часов</td><td style='border-bottom:0px; border-right:0px'><form method='post' name='form"+i+"' action='javascript:passButtonClick(this.form"+i+")'><table><tr><td><input type='hidden' name='student' value='"+data.students[5]+"'><input type='number' name='hours' class='profile-input' style='height:10px; width:30px' name='hours'></td><td style='border-bottom:0px; border-left:0px'>Часов</td></tr><tr><td style='border-top:0px; border-bottom:0px; border-right:0px'><input type='hidden' name='cause' id='cause"+i+"' value='0'><input type='checkbox' id='cause-check"+i+"' name='cause_check[]' onchange='javascript:causeCheck("+i+")'></td><td style='border-top:0px; border-left:0px; border-bottom:0px'>Уважительная причина</td></tr><tr><td style='border-top:0px;' colspan ='2'><input type='submit' class='profile-input' style='height:50px; width:250px' id='pass_button' value='Добавить'></form></td></tr></table>";
        }
        return output;
    }
    $(document).ready(function(){
        var output="<table class='students' border='1'><tr><th>№</th><th>ФИО</th><th>Адрес</th><th>Пропуски (Уважительные)</th><th>Пропуски (Неуважительные)</th><th colspan='2'>Отметить отсутствующих</th>";
        $.ajax({
            type: 'GET',
            url: "/api_request/1",
            dataType: 'json',
            success: function (data) {
                var j = 1;
                for(var i = 0; i < data.students.length; i++){
                    output += output_for_table({"students":data.students[i], "passes_affirmative":data.passes_affirmative, "passes_negative":data.passes_negative}, j, 0);
                    j += 1;
                }
                output += "</table>";
                $("#result").html(output);
            }
        })
    });
</script>
<% require 'json' %>
<style>
  th{
    background-color: #2980B9;
    color: white;
  }
  td{
    padding: 15px;
    text-align: center;
  }
  .profile-input{
    border: 2px solid lightblue;
  }
  .search-box,.close-icon,.search-wrapper {
    position: relative;
    padding: 10px;
  }
  .search-wrapper {
    width: 500px;
    margin: auto;
    margin-top: 0px;
  }
  .search-box {
    width: 80%;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 15px;
  }
  .search-box:focus {
    box-shadow: 0 0 15px 5px #b0e0ee;
    border: 2px solid #bebede;
  }
  .close-icon {
    border:1px solid transparent;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
  }
  .close-icon:after {
    content: "X";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #FA9595;
    z-index:1;
    left: 185px;
    top: 0;
    bottom: 65px;
    margin: auto;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px #E50F0F;
    cursor: pointer;
  }
  .search-box:not(:valid) ~ .close-icon {
    display: none;
  }
</style>
<h1>Добро пожаловать, <%= current_user.name %>!</h1>
<center>
  <% if current_user.admin == 1 %>
    <a href="<%= departments_index_path %>" class="action-button shadow animate blue">Редактировать списки</a>
    <a href="<%= passes_index_path %>" class="action-button shadow animate blue">Выставлять пропуски</a>
    <a href="<%= ratings_path %>" class="action-button shadow animate blue">Рейтинги</a>
  <% end %>
  <% if current_user.superadmin == 1 %>
    <a href="<%= users_path %>" class="action-button shadow animate blue">Редактировать пользователей</a>
  <% end %>
  <h2 id="nomarging">Списки студентов</h2>
  <p>Выберите группу</p>
    <% @department.each do |department| %>
      <% department.specialties.each do |specialty| %>
        <% specialty.groups.each do |group| %>
            <p style="height:50px; width:130px; margin-left: 15px; float: left; border-radius: 20px; background-color: #2b5797; font-size: 28pt; color: white; text-decoration: none;" id="<%= group.number %>" name="groupButton" onclick="groupButtonClick(<%= group.id %>)"><%= group.number %></p>
        <% end %>
      <% end %>
    <% end %>
  <h2 style="margin: 5px; margin-top: 10%">ИЛИ</h2>
  <p style="margin: 0px;">Воспользуйтесь поиском</p>
  <div class="search-wrapper">
    <form>
      <input type="text" name="focus" id="search" required class="search-box" placeholder="Введите фамилию учащегося" />
      <button class="close-icon" type="reset"></button>
    </form>
  </div>
  <div id="table-header">
    <table style="width: 100%" border="1">
      <tr>
        <th rowspan="4">Номер группы</th>
        <th colspan="40">Пропуски занятий</th>
        <th rowspan="4">Всего</th>
      </tr>
      <tr>
        <th colspan="4">09</th>
        <th colspan="4">10</th>
        <th colspan="4">11</th>
        <th colspan="4">12</th>
        <th colspan="4">01</th>
        <th colspan="4">02</th>
        <th colspan="4">03</th>
        <th colspan="4">04</th>
        <th colspan="4">05</th>
        <th colspan="4">06</th>
      </tr>
      <tr>
        <th colspan="2">1-15</th>
        <th colspan="2">1-30</th>
        <th colspan="2">1-15</th>
        <th colspan="2">16-31</th>
        <th colspan="2">1-15</th>
        <th colspan="2">16-30</th>
        <th colspan="2">1-15</th>
        <th colspan="2">16-31</th>
        <th colspan="2">1-15</th>
        <th colspan="2">1-30</th>
        <th colspan="2">1-15</th>
        <th colspan="2">16-28</th>
        <th colspan="2">1-15</th>
        <th colspan="2">16-31</th>
        <th colspan="2">1-15</th>
        <th colspan="2">16-30</th>
        <th colspan="2">1-15</th>
        <th colspan="2">16-31</th>
        <th colspan="2">1-15</th>
        <th colspan="2">16-30</th>
      </tr>
      <tr>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
        <th>Ув</th>
        <th>Не ув</th>
      </tr>
    </table>
  </div>
  <div id="result">

  </div>
</center>
<script>

</script>