<h1>Добро пожаловать, <%= current_user.name %>!</h1>
<center>
  <a href="<%= departments_index_path %>" class="action-button shadow animate blue">Редактировать списки</a>
  <a href="<%=  %>" class="action-button shadow animate blue">Редактировать пользователей</a>
  <a href="#" class="action-button shadow animate red">How</a>
  <a href="#" class="action-button shadow animate green">Are</a>
  <a href="#" class="action-button shadow animate yellow">You?</a>
  <table class="profile">
    <tr>
      <td>
        <h2 id="nomarging">Списки студентов</h2>
        <div class="container">
          <% @department.each do |d| %>
            <div class="spoiler">
              <h2><%= link_to d.name, department_path(d) %></h2>
              <% if d.specialties %>
                <div class="hidden">
                  <% d.specialties.each do |s| %>
                    <div class="spoiler">
                      <h2><%= s.name %></h2>
                      <% if s.groups %>
                        <div class="hidden">
                          <% s.groups.each do |g| %>
                            <div class="spoiler">
                              <h2><%= link_to "#{g.number}", group_index_path %></h2>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </td>
      <td>
        <h2>Например, график пропусков</h2>
        <div class="container">
          something else
        </div>
      </td>
    </tr>
  </table>
</center>
<%= link_to 'Выйти', sign_out_path, method: :delete %>