<style>
  th{
    height: 30px;
    background-color: #2980B9;
    color: white;
  }
</style>
<center>
  <a href="javascript:history.back()" id="back" class="action-button shadow animate blue">Назад</a>
  <a href="<%= ratings_path(9) %>" class="action-button shadow animate blue">Сентябрь</a>
  <a href="<%= ratings_path(10) %>" class="action-button shadow animate blue">Октябрь</a>
  <a href="<%= ratings_path(11) %>" class="action-button shadow animate blue">Ноябрь</a>
  <a href="<%= ratings_path(12) %>" class="action-button shadow animate blue">Декабрь</a>
</center>
<div id="rating-students">
  <%
    k = 0
    studs = []
    @students.each do |student|
      studs[k] = Hash.new
      studs[k][:id] = student.id
      studs[k][:fio] = "#{student.surname} #{student.name} #{student.fathername}"
      studs[k][:group] = student.group.number
      studs[k][:passes_n] = @passes_negative[student.id]
      studs[k][:passes_a] = @passes_affirmative[student.id]
      studs[k][:passes_all] = @passes_affirmative[student.id] + @passes_negative[student.id]
      k = k + 1
    end
    studs = studs.sort_by { |k| k[:passes_n] }
    studs = studs.reverse!
  %>
  <center>
  <table border="1" style="text-align: center">
    <tr>
      <th>№</th>
      <th>ФИО</th>
      <th>Группа</th>
      <th>Пропуски по уважительной причине</th>
      <th>Пропуски по неуважительной причине</th>
      <th>Всего пропусков</th>
    </tr>
    <% i = 1 %>
    <% studs.each do |studs| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <%= link_to "#{studs[:fio]}", student_path(studs[:id]) %>
          </td>
          <td>
            <%= studs[:group] %>
          </td>
          <td>
            <%= studs[:passes_a] %>ч
          </td>
          <td>
            <%= studs[:passes_n] %>ч
          </td>
          <td>
            <%= studs[:passes_all] %>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
  </table>
  </center>
</div>