<style>
  td{
    height: 60px;
    text-align: center;
  }
</style>
<center>
  <a href="javascript:history.back()" id="back" class="action-button shadow animate blue">Назад</a>
</center>
<h2>Отделения</h2>
<center>
  <a href="<%= new_department_path %>" class="action-button shadow animate green">Добавить</a>
  <table border="1">
    <tr>
      <th>№</th>
      <th>Отделения</th>
      <th>Опции</th>
    </tr>
    <% i = 1 %>
    <% @department.each do |department| %>
        <tr>
          <td>
            <%= i %>
          </td>
          <td>
            <%= link_to department.name, department_path(department) %>
          </td>
          <td>
            <a href="<%= edit_department_path(department) %>" style="font-size: 12pt; padding: 10px" class="action-button shadow animate yellow">Редактировать</a>
            <a data-confirm="Вы уверены, что хотите удалить Отделение '<%= department.name %>'???" rel="nofollow" data-method="delete" style="font-size: 12pt; padding: 10px" href="<%= department_path(department) %>" class="action-button shadow animate red">Удалить</a>
          </td>
        </tr>
        <% i = i + 1 %>
    <% end %>
  </table>
</center>