<div class="container">
  <div class="form-container front">
    <h1 class="form-label">Добавление отделения</h1>
    <%= form_for @department do |f| %>
      <div class="group">
        <p>Название отделения</p>
        <%= f.text_field :name %>
        <span class="highlight"></span>
        <span class="bar"></span>
      </div>
      <%= f.submit "Добавить отделение", class:"button raised btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
<a href="<%= specialty_new_path %>" class="action-button shadow animate blue">Добавить Специальность</a>
<a href="<%= group_new_path %>" class="action-button shadow animate blue">Добавить Группу</a>
<a href="<%= student_new_path %>" class="action-button shadow animate blue">Добавить Учащихся</a>